# 我的”偉大“匯率換算程式
### 簡單介紹一下
- 找到匯率換算的資料
- 把所以大部分幣值換成兌台幣
- 輸入自己想找的幣值顯示出來

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## STEP 1
匯入匯率資料

In [2]:
url="http://www.taifex.com.tw/data_gov/taifex_open_data.asp?data_name=DailyForeignExchangeRates"
df=pd.read_csv(url,encoding='big5')

In [3]:
df2=df.loc[:,"日期":"人民幣／新台幣"]

In [4]:
df2.head()

         日期  美元／新台幣   人民幣／新台幣
0  2019/3/4  30.830  4.602549
1  2019/3/5  30.847  4.598671
2  2019/3/6  30.852  4.592814
3  2019/3/7  30.869  4.596394
4  2019/3/8  30.902  4.588422

In [5]:
df.head()

,日期,美元／新台幣,人民幣／新台幣,歐元／美元,美元／日幣,英鎊／美元,澳幣／美元,美元／港幣,美元／人民幣,美元／南非幣,紐幣／美元
0,2019/3/4,30.830,4.602549,1.13450,111.865,1.32400,0.70830,7.84905,6.69845,14.23755,0.68080
1,2019/3/5,30.847,4.598671,1.13185,111.940,1.31700,0.70760,7.84965,6.70780,14.18950,0.67930
2,2019/3/6,30.852,4.592814,1.13035,111.815,1.31375,0.70360,7.84985,6.71745,14.17770,0.67810
3,2019/3/7,30.869,4.596394,1.13075,111.775,1.31685,0.70400,7.84985,6.71590,14.26800,0.67800
4,2019/3/8,30.902,4.588422,1.12015,111.065,1.30885,0.70065,7.84985,6.73480,14.56610,0.67585

## STEP 2
改成兌台幣

In [6]:
df2["歐元／新台幣"]=df["美元／新台幣"]*df["歐元／美元"]
df2["日幣／新台幣"]=df["美元／新台幣"]/df["美元／日幣"]
df2["英鎊／新台幣"]=df["美元／新台幣"]*df["英鎊／美元"]
df2["澳幣／新台幣"]=df["美元／新台幣"]*df["澳幣／美元"]
df2["港幣／新台幣"]=df["美元／新台幣"]/df["美元／港幣"]
df2["紐幣／新台幣"]=df["美元／新台幣"]*df["紐幣／美元"]

In [7]:
df3=df2
columns_name=["日期","美元","人民幣","歐元","日幣","英鎊","澳幣","港幣","紐幣"]
df3.columns=columns_name

## STEP 3
輸入幣種與日期

In [8]:
date=input("請輸入日期,範例2019/1/1>>")
country=input("請輸入要查什麼幣>>")

請輸入日期,範例2019/1/1>>2019/4/15
請輸入要查什麼幣>>英鎊

In [11]:
df3[df3["日期"]==date][['日期',country]]

           日期        英鎊
28  2019/4/15  40.43446

In [10]:
df3.head()

,日期,美元,人民幣,歐元,日幣,英鎊,澳幣,港幣,紐幣
0,2019/3/4,30.830,4.602549,34.976635,0.275600,40.818920,21.836889,3.927864,20.989064
1,2019/3/5,30.847,4.598671,34.914177,0.275567,40.625499,21.827337,3.929729,20.954367
2,2019/3/6,30.852,4.592814,34.873558,0.275920,40.531815,21.707467,3.930266,20.920741
3,2019/3/7,30.869,4.596394,34.905122,0.276171,40.649843,21.731776,3.932432,20.929182
4,2019/3/8,30.902,4.588422,34.614875,0.278233,40.446083,21.651486,3.936636,20.885117